<div class="row row-cols-1 row-cols-md-2">
  <% @confirms.each do |hotel| %>
    <div class="col mb-4">
      <div class="card">
        <h3 class="text-center">ホテル名: <%= hotel.name %></h3>
        <div class="card-body">
          <%= image_tag "/images/#{hotel.imgname}.png", class: 'card-img-top' %>
          <div class="card-footer">
            <table class="table table-hover table-condensed">
              <tr>
                <th>残り部屋数</th>
                <th>残り部屋数</th>
                <th>値段</th>
                <th>
                  <tr>
                    <td><%= hotel.bestname %>:</td>
                    <td><%= hotel.bestvacant %> 部屋</td>
                    <td><%= hotel.bestprice %> 円</td>
                  </tr>
                  <tr>
                    <td><%= hotel.richname %>:</td>
                    <td><%= hotel.richvacant %> 部屋</td>
                    <td><%= hotel.richprice %> 円</td>
                  </tr>
                  <tr>
                    <td><%= hotel.fourthname %>:</td>
                    <td><%= hotel.fourthvacant %> 部屋</td>
                    <td><%= hotel.fourthprice %> 円</td>
                  </tr>
                  <tr>
                    <td><%= hotel.doublename %>:</td>
                    <td><%= hotel.doublevacant %> 部屋</td>
                    <td><%= hotel.doubleprice %> 円</td>
                  </tr>
                </table>
                <%= link_to  "/users/#{hotel.id}/login", class: 'btn btn-primary btn-lg btn-block' do %>
                  <i class="fas fa-suitcase-rolling"></i>
                  <span>予約する</span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
