<div class="row row-cols-1 row-cols-md-2">
<% @hoteldays.each do |hotelday| %>
<% @hotelprices.each do |hotelprice| %>
<% if hotelday.hotel.id == hotelprice.hotel_id %>

    <div class="col mb-4">
  <div class="card">
  <h3 class="text-center">ホテル名: <%= hotelday.hotel.name %></h3>
    <div class="card-body">
    <%= image_tag "/images/#{hotelday.hotel.imgname}.png", class: 'card-img-top' %>
    <div class="card-footer">
    <table class="table table-hover table-condensed">
    <tr>
    <th>残り部屋数</th>
    <th>残り部屋数</th>
    <th>値段</th>
    <th>
    <tr>
     <td>ゴージャススーイト:</td>
    <td><%= hotelday.best %> 部屋</td>
    <td><%= hotelprice.best %> 円</td>
    </tr>
    <tr>
    <td>スイート:</td>
    <td><%= hotelday.rich %> 部屋</td>
    <td><%= hotelprice.rich %> 円</td>
    </tr>
    <tr>
    <td>マルチ:</td>
    <td><%= hotelday.fourth %> 部屋</td>
    <td><%= hotelprice.fourth %> 円</td>
    </tr>
    <tr>
    <td>ダブル:</td>
    <td><%= hotelday.double %> 部屋</td>
    <td><%= hotelprice.double %> 円</td>
    </tr>
    </table>
<%= link_to  "/users/#{hotelday.hotel.id}/login", class: 'btn btn-primary btn-lg btn-block' do %>
  <i class="fas fa-suitcase-rolling"></i>
  <span>予約する</span>
<% end %>
    </div>
  </div>
 </div>
 </div>
 <% end %>
<% end %>
  <% end %>
  </div>