<p id="notice"><%= notice %></p>

<p>
  <strong>Comid:</strong>
  <%= @company.comid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @company.area %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
